{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="item mt-5">
    <div class="container">
      <div class="title d-flex">
        <h4>Напитки</h4>
      </div>
      <div class="row mt-3">
                      <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608bffa31f79f.png" alt="FuzeTea манго-ананас 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> FuzeTea манго-ананас 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  80 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608bffc076517.png" alt="FuzeTea манго-ананас 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> FuzeTea манго-ананас 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  130 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608bffe07e4f0.png" alt="FuzeTea манго-ромашка 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> FuzeTea манго-ромашка 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  80 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c0009c2ae0.png" alt="FuzeTea манго-ромашка 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> FuzeTea манго-ромашка 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  130 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c002e0df97.png" alt="Coca Cola 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Coca Cola 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  70 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c007aa3e55.png" alt="Coca Cola 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Coca Cola 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  130 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c00be73211.png" alt="Сок Piko апельсин 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Сок Piko апельсин 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  150 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c00dd33e9e.png" alt="Сок Piko апельсин 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Сок Piko апельсин 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  90 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c00f8d7e3c.png" alt="Fanta 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Fanta 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  70 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c01144a141.png" alt="Fanta 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Fanta 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  130 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c012f303fb.png" alt="Вода негазированная Bonaqua 1 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Вода негазированная Bonaqua 1 л</h3>
              <p>
              1 л
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  60 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2021-04-30-608c015da9d36.png" alt="Вода негазированная Bonaqua 0,5 л" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Вода негазированная Bonaqua 0,5 л</h3>
              <p>
              500 мл
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  40 сом</span>




              </div>
            </div>
          </div>
        </div>
              </div>
    </div>
  </div>
{% endblock %}
</body>
</html>