{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="item mt-5">
    <div class="container">
      <div class="title d-flex">
        <h4>Роллы и суши</h4>
      </div>
      <div class="row mt-3">
                      <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe03906de78.png" alt="Запеченный с крабовыми палочками" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Запеченный с крабовыми палочками</h3>
              <p>
              200 гр, нори, крабовые палочки, рис
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  299 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe034bb79ed.png" alt="Аяши" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Аяши</h3>
              <p>
              250 гр, нори, рис, сыр сливочный, омлет, соус аяши
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  349 сом</span>


              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe03159a0d6.png" alt="Филадельфия с авокадо" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Филадельфия с авокадо</h3>
              <p>
              260 гр, авокадо, лосось, нори, рис, сыр сливочный
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  459 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe02ecebf81.png" alt="Филадельфия с огурцом" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Филадельфия с огурцом</h3>
              <p>
              260 гр, лосось, нори, рис, сыр сливочный, огурец
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  419 сом</span>


                    <button data-id="66" data-price="419" class="btn border-0 text-white rounded-pill px-4 add-to-cart-normal">
                        <small class="desktop-text">В корзину</small>
                        <small class="mobile-text"> 419 сом</small>
                    </button>


              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe02ba13ff5.png" alt="Филадельфия классика" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Филадельфия классика</h3>
              <p>
              300 гр, нори, лосось, рис, сыр сливочный
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe028b6830c.png" alt="Калифорния с креветкой" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <a href="https://masahiro.kg/product/kaliforniya-s-krevetkoi" class="text-decoration-none"><h3> Калифорния с креветкой</h3></a>
              <p>
              220 гр, рис, нори, спайси, креветки, масаго, авокадо
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  429 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe0254acea2.png" alt="Калифорния с лососем" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Калифорния с лососем</h3>
              <p>
              250 гр, рис, нори, масаго, огурец, авокадо, спайси
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe01fe7e2f7.png" alt="Калифорния с крабовыми палочками" class="img-fluid  product-detail-page">

            </div>
            <div class="box-head">
            <h3> Калифорния с крабовыми палочками</h3>
              <p>
              250 гр, рис, нори, сыр творожный, краб, огурец, масаго
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  329 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe01ba690ec.png" alt="Филадельфия лайт" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Филадельфия лайт</h3>
              <p>
              250 гр, рис, нори, сыр творожный, огурец, лосось
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  329 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe018284d87.png" alt="Нежный с лососем" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Нежный с лососем</h3>
              <p>
              250 гр, рис, нори, сыр творожный, лосось терияки, бассай, унаги, нежны...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  359 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe011878bcd.png" alt="Чикаго" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Чикаго</h3>
              <p>
              280 гр, рис, нори, сыр творожный, крабовые палочки, масаго, спайси, ун...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  369 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe00e03ca69.png" alt="Сяке маки мини" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Сяке маки мини</h3>
              <p>
              140 гр, нори, филе лосось, рис
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  259 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe009cdb9b6.png" alt="Нежный темпура" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Нежный темпура</h3>
              <p>
              220 гр, рис, нори, сыр творожный, лук зеленый, лосось, масага, унаги
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  369 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe004ebe706.png" alt="Каппа маки мини" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Каппа маки мини</h3>
              <p>
              150 гр, нори, огурец, рис
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  159 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdff4e457d1.png" alt="Нежный с курицей" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Нежный с курицей</h3>
              <p>
              250 гр, рис, нори, сыр творожный, курица терияки, унаги, нежный замес
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  349 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfc327fb71.png" alt="Нежный с сыром" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Нежный с сыром</h3>
              <p>
              235 грамм. состав: Рис, нори, сыр творожный, бассай, унаги, нежный зам...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  299 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfbc7d6f5e.png" alt="Темпура с креветкой" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Темпура с креветкой</h3>
              <p>
              270 грамм. состав: рис, нори, сыр творожный, креветки, огурцы, крабовы...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf7b8bf246.png" alt="Синсиро" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Синсиро</h3>
              <p>
              280 грамм. состав: рис, нори, сыр творожный, огурец, лосось, нежный за...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf7086d00b.png" alt="Осака темпура" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Осака темпура</h3>
              <p>
              280 грамм. состав: рис, нори, сыр творожный, огурец, крабовые палочки,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  359 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf34557c37.png" alt="Соломон сальса" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Соломон сальса</h3>
              <p>
              250гр состав: рис, нори, сыр творожный, омлет, лук зеленый, шерирячи,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf3047f6bb.png" alt="Чикен спайси" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Чикен спайси</h3>
              <p>
              230 гр состав: рис, нори, сыр творожный, лук зеленый, курица терияки,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf0ed1c0ae.png" alt="Дуэт" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Дуэт</h3>
              <p>
              Рис, нори, сыр творожный, угорь, нежный замес, аяши замес
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf070695d4.png" alt="Ассорти ролл" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Ассорти ролл</h3>
              <p>
              Рис, нори, сыр торожный, лосось, соус лава, огурец
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf038f21e8.png" alt="Масахиро ролл" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Масахиро ролл</h3>
              <p>
              280 гр. Рис, нори, сыр творожный, лосось, замес масахиро
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdefeaaf267.png" alt="Темпура с курицей" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Темпура с курицей</h3>
              <p>
              Рис, нори, сыр творожный, курица, бассай, огурец, спайси соус, унаги
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  369 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdeefa076c6.png" alt="Темпура с креветкой ролл" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Темпура с креветкой ролл</h3>
              <p>
              Рис, нори, сыр творожный, креветки, огурцы, крабовые палочки, унаги, с...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe0cc07e356.png" alt="Угорь темпура" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Угорь темпура</h3>
              <p>
              Рис, нори, сыр творожный, чука салат, угорь, унаги, масаго
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe0d233612a.png" alt="Кавасаки" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
             <h3> Кавасаки</h3>
              <p>
              Рис, нори, сыр творожный, угорь,огурец. авокадо, унаги соус, кунжут бе...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe0da3baa65.png" alt="Токио" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Токио</h3>
              <p>
              Рис, нори, омлет, лосось, унаги осус, масаго оранжевая, сыр творожный,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fe0dffa875a.png" alt="Банзай" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Банзай</h3>
              <p>
              Нори, рис, лосось, стручка тунца, огурец, апельсин, краб, унаги осус,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  399 сом</span>



              </div>
            </div>
          </div>
        </div>
              </div>
    </div>
  </div>
{% endblock %}
</body>
</html>