{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="item mt-5">
    <div class="container">
      <div class="title d-flex">
        <h4>Сеты</h4>
      </div>
      <div class="row mt-3">
                      <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfe7fc7515.png" alt="Тёплый рай" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Тёплый рай</h3>
              <p>
              24 шт. 750 грамм. Нежный с курицей, нежный с сыром, нежный с лососем
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  999 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfe3b8473a.png" alt="Темпура" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Температура </h3>
                <p>
              32 шт. 980 грамм. Синсиро, осака темпура, темпура чука, темпура с крев...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  1649 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfd9563a80.png" alt="Даймонд" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Даймонд</h3>
              <p>
              72 шт - 2125 гр. Чикаго, темпура чука, нежный темпура, банзай, нежный...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  3299 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdfd578922e.png" alt="Бинго" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Бинго</h3>
              <p>
              32 шт. 1070 грамм. Саломон сальса, калифорния с крабовыми палочками, о...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <div>
                    <div><span>от 1099 сом</span> <span class="badge rounded-pill bg-danger text-white " style="font-size: 10px;">-250сом</span></div>
                    <div class="text-decoration-line-through "> <span class="text-muted">1349 сом</span></div>
                </div>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf6aa53f01.png" alt="Запечённый" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Запечённый</h3>
              <p>
              Состав: 40 шт -1035 гр
Сумо, чикен спайси, аяши, запечённый с крабовы...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  1399 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf579a2725.png" alt="Масахиро" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Масахиро</h3>
              <p>
              Состав: 80 шт -  2900 грамм
Фила лайт, вкусный, чикен ролл, масахиро,...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  2899 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fdf20656c8f.png" alt="Мега хит" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Мега хит</h3>
              <p>
              Состав: 48 шт. Дуэт, чикен спайси, филадельфия лайт, ассорти, эби лайт...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  1899 сом</span>



              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fded886c533.png" alt="На двоих" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
             <h3> На двоих</h3>
              <p>
              24 шт. Чикен ролл, нежный с курицей, фила лайт
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  899 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-03-23-65fded408dbd1.png" alt="Сет Жара" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
                <h3> Сет Жара</h3>
              <p>
              Состав 32 шт: нежный с курицей, саломон сальса, чикен спайси, аяши
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <span>

                  1199 сом</span>




              </div>
            </div>
          </div>
        </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="box mb-4">
            <div class="box-img">
                <img src="https://masahiro.kg/storage/product/2024-05-14-664337093e557.png" alt="Сет Любимый" class="img-fluid  product-detail-page">
            </div>
            <div class="box-head">
            <h3> Сет Любимый</h3>
              <p>
              32шт. 870 грамм Дзейн , Нежный с курицей, Филадельфия лайт, Треугольни...
              </p>
              <div class="d-flex justify-content-md-between price">
                                            <div>
                    <div><span>от 999 сом</span> <span class="badge rounded-pill bg-danger text-white " style="font-size: 10px;">-200сом</span></div>
                    <div class="text-decoration-line-through "> <span class="text-muted">1199 сом</span></div>
                </div>



              </div>
            </div>
          </div>
        </div>
              </div>
    </div>
  </div>
{% endblock %}
</body>
</html>